<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="duokan.mapper.DuokanBookInfoMapper">

    <sql id="columns">
        admin_id as adminId,
        user_id as userId,
        item_no as itemNo,
        item_amount as itemAmount,
        item_img as itemImg,
        item_name as itemName,
        item_price as itemPrice,
        item_productid as itemProductId,
        item_sku_info as itemSkuInfo,
        item_sell_point as sellPoint,
        item_sell_point as sellPoint,
        owner_id as ownerId
    </sql>

    <!-- api : http://stackoverflow.com/questions/1609637/is-it-possible-to-insert-multiple-rows-at-a-time-in-an-sqlite-database-->
    <!--api: http://www.mybatis.org/mybatis-3/sqlmap-xml.html-->
    <insert id="insertBatch">
        INSERT INTO duokan_book(bookid, href, coverUrl, title, author, desc) VALUES
        <foreach item="item" collection="duokanBookInfoList" separator=",">
            (#{item.bookId}, #{item.href}, #{item.coverURL}, #{item.title}, #{item.author}, #{item.desc})
        </foreach>

        <!--INSERT INTO duokan_book(bookid)-->
        <!--<foreach item="item" collection="duokanBookInfoList" separator="UNION">-->
        <!--select #{item.bookId}-->
        <!--</foreach>-->



    </insert>


</mapper>